body{
    background-image: url(../IMG/dungeon2.jpg);
    background-size:cover;
    color:rgb(104, 118, 36);
    font-size: 1.5em;
    font-family: 'MedievalFont', sans-serif;
    font-weight: 500;
    font-style: italic;
}
header{
    text-align: center;
    margin: auto;
    font-size: 3em;
    border: 1px solid rgb(56, 54, 54);
    padding: .2em;
}
footer{
    text-align: center;
    font-size: .5em;
    color:#b550ab;
    margin: auto;
    border: 1px solid rgb(56, 54, 54);
    padding: .2em;
}
main{
    display: flex;
}
h1{
    margin: 20px;

}
table{
    margin:1em;
    box-shadow: 10px 10px gray;
}
td{
    width:25px;
    height: 25px;
    border: 1px solid pink;

}
#Boutons{
    display: flex;
    flex-direction: column;
    margin: 50px;
}
span{
    width: 100%;
    margin: auto;
    text-align: center;
}
input{
    width: 50px;
    height: 50px;
}
#up{
    background-image: url(../IMG/ArrowUp.PNG);
    background-size: 350%;
    background-position: center;
    margin: auto;
}
#right{
    background-image: url(../IMG/ArrowRight.PNG);
    background-size: 180%;
    background-position: center;
}
#left{
    background-image: url(../IMG/ArrowLeft.PNG);
    background-size: 180%;
    background-position: center;
}
#down{
    background-image: url(../IMG/ArrowDown.PNG);
    background-size: 350%;
    background-position: center;
    margin: auto;
}
#init{
    background-position: center;
    margin: auto;
    width: max-content;
}
#test{
    background-position: center;
    margin: auto;
    width: max-content;
}
input{
  background-color: #222;
  border: 2px solid #3d1d33;
  color: rgb(104, 118, 36);;
  padding: 10px 20px;
  font-family: 'MedievalFont', sans-serif;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s, border-color 0.3s;
}
#up.hover{
    background-color: #d73b3b;
}
#alerte{
    display: none;
    background-color: #5B1B55;
    position: fixed;
    width: 700px;
    height: 200px;
    top: 20%;
    left: 20%;
    border : 7px groove rgb(77, 13, 42);
}
#X{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
}
strong{
    display:block;
    margin: 50px auto;
}
#recommencer{
    display: flex;
    margin: 10px auto;
    width: fit-content;
    border:5px #3d1d33 groove;
}
#stats{
    background-color: #3d1d33;
    border : 7px groove rgb(77, 13, 42);
    padding: 10px;
    color: rgb(104, 118, 36);
}